main {
    position: absolute;
    margin: 100px 0;
    left: 100px;
    border: 3px solid #aa0000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 70px 50px;
    background-color: #440000;
}

form {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: auto;
}

form h2 {
    margin-bottom: 20px;
}

.field {
    width: 100%;
    margin: 7px 0;
}

.field p {
    margin-bottom: 7px;
}

.input-field, button {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 10px 10px;
    padding: 5px 15px;
    font-size: 18px;
    border: 2px solid #220000;
    background-color: #770000;
}

.radio-field * {
    width: auto;
    margin: 7px 0;
}

button {
    width: 100%;
    margin-top: 15px;
    background-color: #770000;
}

button:hover {
    background-color: #990000;
}
